= @word.word

= @word.definition

:javascript
  $(function(){
    var audioElement = document.createElement('audio');
    audioElement.setAttribute('src', '#{@word.mp3_url}');
    audioElement.play();
  });



