/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */

body{
  margin: 50px;
  font: arial;
  font-size: 30px;
}

h1{
  display: inline;
}

form{
  display: inline;
}

#header{
  padding: 10px;
  margin: 10px;
}

#word_form{
  background: #def;
  padding: 50px;
  width: 750px;
  border-radius: 40px;
}

#word{
  padding: 50px;
  width: 750px;
  border-radius: 40px;
}

#definition{
  padding: 50px;
  width: 750px;
  font-size: 20px;
  left: 300px;
  border-radius: 40px;
}

input[type='submit']{
  border: 0px solid #000;
  background: #def;
  pointer: "hand";
  margin: 10px;
  padding: 10px;
}

input{
  display: inline;
  margin: 10px;
  font-size: 30px;
  left: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-width: initial;
  border-color: initial;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 2px;
  outline-style: none;
  outline-width: initial;
  outline-color: initial;
  top: 1px;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}

