- form_tag 'words', id: "word_form", :method => 'get'  do
  = submit_tag 'How is "'
  = text_field_tag 'word', :value => params[:word], id: 'word_field'
  = submit_tag '" pronounced?'
#spinner

#word
#definition
