!!! Strict
%html
  %head
    %title= [@title, "Padrino Sample Blog"].compact.join(" | ")
    %link(href="/assets/application.css" media="screen" rel="stylesheet" type="text/css")
    %script(src="/assets/application.js" type="text/javascript")

    = yield_content :include
  %body
    #header
      %h1 How do I pronounce?
    #container
      #main= yield
